body {
  background-color: black;
}
.header {
  font-size: 100px;
  height: auto;
  font-family: 'Gaegu', cursive;
  text-align: center;
  color: white;
  line-height: 1.4;
}
.menu {
  text-align: center;
  word-spacing: 0px;
  line-height: .1;
  font-size: 60px;
  font-family: 'Shizuru', cursive;
  color: white;
  padding: 10px;
}
img.mindex {
  max-width: 25%;
  height: auto;
  border: 5px solid white;
  padding: 10px;
  display: block;
  padding-right: auto;
  padding-left: auto;

}
.copyright {
  font-family: 'EB Garamond', serif;
  text-align: center;
  line-height: 1px;
  font-size: 20px;
  color: white;
  padding: 30px;
  line-height: 1;

}
.spacer {
  padding-top: 40px;
  padding-bottom: 40px;
}
/* Fonts Used: EB Garamond, Fasthand (Cursive), Gloria Hallelujah (Cursive), Homemade Apple (Cursive),
Indie Flower (Cursive), Shizuru (Cursive) Gaegu (Cursive) */