    h1 {
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 100px;
}

    p {
    text-align: center;
    letter-spacing: 3px;
    font-family: 'Gentium Book Basic', serif;
    font-size: 40px;
}

    h2 {
    text-align: center;
    letter-spacing: 3px;
    font-family: 'Gentium Book Basic', serif;
    font-size: 20px;
    color: #b3b3b3;
}

    h3 {
    text-align: center;
    letter-spacing: 3px;
    font-family: 'Gentium Book Basic', serif;
    font-size: 15px;
}

.button {
  background-color:#000000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Gentium Book Basic', serif;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}
